<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chat App</title>
      <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
      <script defer src="script.js"></script>

  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

        <div style="background: linear-gradient(to bottom, #ffccff 0%, #66ffff 100%); padding-top: 40px; height:44rem;">
            <center>

              <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 50rem; height: 38rem;">
                <img class="card-img-top" src="images/chat_room.jpeg" alt="Card image cap" style="height: 400px;">
                <div class="card-body">
                  <h5 class="card-title">expRSL Chat</h5>
                  <p class="card-text" style="font-size: 18px; color:  #0000ff">Join thousands of group chats or create one of your own and invite your friends.
                                       Group chat rooms created by you are easily accessible to other users through search.
                                       These group chat rooms with strangers
                                       are best. </p>
                  <a href="chat" class="btn btn-primary">Start Chatting</a>
                </div>
              </div>
            </center>
          </div>
    </body>
</html>
